#head {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    font-size: 5rem;
    font-style: bold;
    text-shadow: 5px 5px;
    color: floralwhite;
}

#Canvas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 2000px;
    padding: 100px;
}

canvas {
    border: 100px dashed rgb(100, 29, 222);
    width: 3000px;

}

body {
    background-color: bisque;
}

.links {
    padding-left: 100em;
}


a {
    font-size: 100px;
    font-family: fantasy;
    text-decoration: none;
    color: steelblue;
}

button {
    border: 10px solid green;
    border-radius: 100px;
    
}
